# History files
.Rhistory
.Rapp.history

# Mac OS
.DS_Store

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.DS_Store
Coding1/.DS_Store
.DS_Store
Coding1/.DS_Store
Project 2/fold_1.csv
Project 2/fold_10.csv
Project 2/fold_2.csv
Project 2/fold_3.csv
Project 2/fold_4.csv
Project 2/fold_5.csv
Project 2/fold_6.csv
Project 2/fold_7.csv
Project 2/fold_8.csv
Project 2/fold_9.csv
Project 2/test.csv
Project 2/train_ini.csv
.DS_Store
Project 1/train.csv
Project 1/test_y.csv
Project 1/test.csv
Project 1/mysubmission2.txt
Project 1/mysubmission1.txt
Project 3/alldata.tsv
